.input_search{
    background-color: #274458eb;
    /*line-height: 1.5;*/
    width: 289px;
    color: lightslategray;
    border: 2px solid #1e67a0;
    border-radius: 10px;
    font-size: 16px;
    font-family: 'Comfortaa', cursive;
    padding-left: 5px;
}
.inpBtn {
    line-height: 1.5;
    display: flex;
    justify-content: space-between;
    width: 487px;
}